.dashboard-container {
    display: flex;
    height: calc(100vh - 10vh); 
    position: fixed;
  }
  

  .welcome-section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 25px;
    height: 60vh;
  }
  
  .welcome-section h2 {
    margin-bottom: 10px;
  }
  
  
  .grid-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .calendar-section, .hire-section, .recruitment-progress-section, .new-applicants-section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    flex: 1;
    height: 30vh;
  }
  
  .calendar-section h3, .hire-section h3, .recruitment-progress-section h3, .new-applicants-section h3 {
    margin-bottom: 20px;
  }
  
  .hire-item {
    margin-bottom: 10px;
  }
  