.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 10vh;
    background-color: transparent;
    z-index: 2;
    position: relative;
    
}





.navbar-brand {
    margin-left: 10vh;
}

.navbar-buttons {
    margin-right: 10vh;
}