.sidebar {
    width: 20vh;
    height: 100%;
    position: fixed;
    left: 0;
    background-color: #3bc25d;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 2vh;
    align-items: center;
    padding: 20px;
    font-weight: bold;
    border-radius: 5vh;

  }
  
.menu a svg {
  margin-right: 10px;
}
  
  .menu {
    width: 100%;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    width: 100%;
  }
  
  .menu li {
    margin: 10px 0;
    width: 100%;
  }
  
  .menu a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;

  }
  
  .menu a:hover {
    background-color: #0da75f;
  }

  .bottom {
   margin-top: 40vh;
  }